/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    padding: 0;
    box-sizing: border-box; 
}

#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Add any other styles you need */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
